/*
/.**
!/.asdfrc
!/assets/
!/assets/**
!/bin/
!/bin/**
!/.cargo/
!/.cargo/**
!/.config/
!/.config/**
!/.emacs.d/
!/.emacs.d/banner.png
!/.emacs.d/early-init.el
!/.emacs.d/elisp/
!/.emacs.d/elisp/**
!/.emacs.d/init.el
!/.emacs.d/README.org
!/.emacs.d/snippets/
!/.emacs.d/snippets/**
!/.emacs.d/templates/
!/.emacs.d/templates/**
!/.gitconfig
!/.gitignore
!/LICENSE
!/Makefile
!/README.md
!/.vimrc
!/.zshrc