## ignore
/*
/.**

## accept

!/.config/
!/.config/**
!/.emacs.d/
!/.emacs.d/banner.png
!/.emacs.d/early-init.el
!/.emacs.d/elisp/
!/.emacs.d/elisp/**
!/.emacs.d/init.el
!/.emacs.d/README.org
!/.emacs.d/snippets/
!/.emacs.d/snippets/**
!/.emacs.d/templates/
!/.emacs.d/templates/**
!/.gitignore
!/installer.ps1
!/installer.zsh
!/LICENSE.txt
!/linkmaker.zsh
!/README.org
!/scripts/
!/scripts/**
!/.zshrc
