[core]
	quotepath = false # 日本語を正常に表示する

[user]
	email = 49436968+Kyure-A@users.noreply.github.com
	name = Kyure_A

[github]
	user = Kyure-A
	
# cargo で error でる
# [url "github:"]
# 	InsteadOf = https://github.com/
# 	InsteadOf = git@github.com:

[init]
	defaultBranch = master